body {
  margin: 0;
  padding: 0;
  /* font-family: "Helvetica Neue"; */
  font-size: 96px;
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;


}

input {
  width: 3em;
  /* display: none; */
}